In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('new_data.csv',index_col=False)

In [3]:
data

,parent_id,created_utc,author,subreddit_id,score_hidden,distinguished,subreddit,score,body,archived,...,link_id,gilded,edited,ups,retrieved_on,author_flair_css_class,author_flair_text,id,downs,controversiality
0,t1_c110jjw,1285891201,hbetx9,t5_2qh6p,False,NaN,Conservative,3,Can you give a reference for this. I don't bel...,True,...,t3_dl2dp,0,0,3,1426494582,NaN,NaN,c1112h4,0,0
1,t1_c10zgl5,1285891201,[deleted],t5_2qlqh,False,NaN,Android,1,I have this and it works well.,True,...,t3_dkzvj,0,0,1,1426494582,NaN,NaN,c1112h5,0,0
2,t3_dkyy9,1285891201,UnderwaterJones,t5_2qh63,False,NaN,Libertarian,1,"I like Ron Paul, but I wish the guy would wear...",True,...,t3_dkyy9,0,0,1,1426494582,NaN,NaN,c1112h6,0,0
3,t1_c110zc9,1285891202,Pokaris,t5_6,False,NaN,reddit.com,0,To produce what we currently produce using the...,True,...,t3_dkz7y,0,0,0,1426494582,NaN,NaN,c1112h7,0,0
4,t1_c10y7x1,1285891202,iheartthrowaway,t5_2qh3p,False,NaN,sex,2,"This was shockingly coincidental, but I squirt...",True,...,t3_d6rg9,0,0,2,1426494582,NaN,NaN,c1112h8,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,t1_c110ci6,1285900174,FoolsRun,t5_2qh0u,False,NaN,pics,2,I didn't even know we had a cabin.,True,...,t3_dl10j,0,0,2,1426494783,NaN,NaN,c111hz6,0,0
19996,t3_dlb12,1285900174,spatchcock,t5_2qh1i,False,NaN,AskReddit,1,Show the ladies and acquire all the pussy with...,True,...,t3_dlb12,0,0,1,1426494783,NaN,NaN,c111hz7,0,0
19997,t3_dlawe,1285900174,invalidusername2,t5_2r9vp,False,NaN,trees,1,im looking to try this pretty soon. how is it?,True,...,t3_dlawe,0,0,1,1426494783,NaN,NaN,c111hz8,0,0
19998,t1_c111hgt,1285900176,Andrewr05,t5_2qh2p,False,NaN,atheism,2,"&gt;*""The Holy Ghost was so fucking cool. It m...",True,...,t3_dl2be,0,0,2,1426494783,no-knight,Atheist,c111hz9,0,0
19999,t1_c1119da,1285900176,tau-lepton,t5_2qh3p,False,NaN,sex,5,"No, seriously.",True,...,t3_dl2ng,0,0,5,1426494783,NaN,NaN,c111hza,0,0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   parent_id               20000 non-null  object
 1   created_utc             20000 non-null  int64
 2   author                  20000 non-null  object
 3   subreddit_id            20000 non-null  object
 4   score_hidden            20000 non-null  bool
 5   distinguished           1 non-null      object
 6   subreddit               20000 non-null  object
 7   score                   20000 non-null  int64
 8   body                    20000 non-null  object
 9   archived                20000 non-null  bool
 10  name                    20000 non-null  object
 11  link_id                 20000 non-null  object
 12  gilded                  20000 non-null  int64
 13  edited                  20000 non-null  int64
 14  ups                     20000 non-null  int64
 15  retrieved_on            20000 non-null  int64
 16  author_flair_css_class  886 non-null    object
 17  author_flair_text       668 non-null    object
 18  id                      20000 non-null  object
 19  downs                   20000 non-null  int64
 20  controversiality        20000 non-null  int64
dtypes: bool(2), int64(8), object(11)
memory usage: 2.9+ MB

In [5]:
data.describe()

,created_utc,score,gilded,edited,ups,retrieved_on,downs,controversiality
count,2.000000e+04,20000.000000,20000.0,2.000000e+04,20000.000000,2.000000e+04,20000.0,20000.0
mean,1.285896e+09,3.145350,0.0,8.276667e+05,3.145350,1.426495e+09,0.0,0.0
std,2.584719e+03,14.349642,0.0,3.378336e+07,14.349642,5.800159e+01,0.0,0.0
min,1.285891e+09,-35.000000,0.0,0.000000e+00,-35.000000,1.426495e+09,0.0,0.0
25%,1.285893e+09,1.000000,0.0,0.000000e+00,1.000000,1.426495e+09,0.0,0.0
50%,1.285896e+09,1.000000,0.0,0.000000e+00,1.000000,1.426495e+09,0.0,0.0
75%,1.285898e+09,2.000000,0.0,0.000000e+00,2.000000,1.426495e+09,0.0,0.0
max,1.285900e+09,845.000000,0.0,1.423745e+09,845.000000,1.426495e+09,0.0,0.0

In [6]:
data.isnull().sum()

parent_id                     0
created_utc                   0
author                        0
subreddit_id                  0
score_hidden                  0
distinguished             19999
subreddit                     0
score                         0
body                          0
archived                      0
name                          0
link_id                       0
gilded                        0
edited                        0
ups                           0
retrieved_on                  0
author_flair_css_class    19114
author_flair_text         19332
id                            0
downs                         0
controversiality              0
dtype: int64

In [7]:
data.drop('distinguished',axis=1,inplace=True)
data.drop('author_flair_css_class',axis=1,inplace=True)
data.drop('author_flair_text',axis=1,inplace=True)

In [8]:
data.drop('score',axis=1,inplace=True)

In [9]:
data.corr()

,created_utc,score_hidden,archived,gilded,edited,ups,retrieved_on,downs,controversiality
created_utc,1.000000,NaN,-0.003427,NaN,0.000195,0.015254,0.999959,NaN,NaN
score_hidden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
archived,-0.003427,NaN,1.000000,NaN,0.001355,0.002077,-0.003486,NaN,NaN
gilded,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
edited,0.000195,NaN,0.001355,NaN,1.000000,0.006979,0.000238,NaN,NaN
ups,0.015254,NaN,0.002077,NaN,0.006979,1.000000,0.015260,NaN,NaN
retrieved_on,0.999959,NaN,-0.003486,NaN,0.000238,0.015260,1.000000,NaN,NaN
downs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
controversiality,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
data.score_hidden.unique()

array([False])

In [11]:
data.downs.unique()

array([0], dtype=int64)

In [12]:
data.controversiality.unique()

array([0], dtype=int64)

In [13]:
data.drop('score_hidden',axis=1,inplace=True)
data.drop('downs',axis=1,inplace=True)
data.drop('controversiality',axis=1,inplace=True)
data.drop('gilded',axis=1,inplace=True)

In [14]:
data.subreddit.nunique()

620

In [15]:
data.body

0        Can you give a reference for this. I don't bel...
1                           I have this and it works well.
2        I like Ron Paul, but I wish the guy would wear...
3        To produce what we currently produce using the...
4        This was shockingly coincidental, but I squirt...
                               ...
19995                   I didn't even know we had a cabin.
19996    Show the ladies and acquire all the pussy with...
19997       im looking to try this pretty soon. how is it?
19998    &gt;*"The Holy Ghost was so fucking cool. It m...
19999                                       No, seriously.
Name: body, Length: 20000, dtype: object

In [16]:
def clean(text, stemming=False, stop_words=True):
    import re
    from string import punctuation
    from nltk.stem import SnowballStemmer
    from nltk.corpus import stopwords
    from nltk import word_tokenize
    
    stops = stopwords.words('english')
    
    # Empty comment
    if type(text) != str or text=='':
        return ''
    
    # Commence the cleaning!
    urls = r'http(s)*:\/\/(\w|\.)+(\/\w+)*'
    text = re.sub(urls, '', text, flags=re.IGNORECASE)
    text = re.sub("\'re", " are", text)
    text = re.sub("\'ve", " have", text)
    text = re.sub("\'d", " would", text)
    text = re.sub("cant", "can not", text)
    text = re.sub("can\'t", "can not", text)
    text = re.sub("isn\'t", "is not", text)
    text = re.sub("isnt", "is not", text)
    text = re.sub("whats", "what is", text)
    text = re.sub("what\'s", "what is", text)
    text = re.sub("shouldn't", "should not", text, flags=re.IGNORECASE)
    text = re.sub("I'm", "I am", text)
    text = re.sub(":", " ", text)
    # The comments contain \n for line breaks, we need to remove those too
    text = re.sub("\\n", " ", text)
    
    # Special characters
    text = re.sub('\&', " and ", text)
    text = re.sub('\$', " dollar ", text)
    text = re.sub('\%', " percent ", text)
    
    # Remove punctuation
    text = ''.join([word for word in text if word not in punctuation]).lower()
    
    # If we want to do stemming...
    if stemming:
        sno = SnowballStemmer('english')
        text = ''.join([sno.stem[word] for word in text])
    
    # If we want to remove stop words...
    if stop_words:
        text = text.split()
        text = [word for word in text if word not in stops]
        text = ' '.join(text)
    
    return text

In [17]:
data['body'] = data['body'].apply(clean).astype(str)

In [18]:
data['body']

0        give reference dont believe true ie constituti...
1                                               works well
2        like ron paul wish guy would wear regular shoe...
3        produce currently produce using methods advoca...
4        shockingly coincidental squirted first time 2 ...
                               ...
19995                                didnt even know cabin
19996    show ladies acquire pussy within tribe magical...
19997                           im looking try pretty soon
19998    gtthe holy ghost fucking cool made adults look...
19999                                            seriously
Name: body, Length: 20000, dtype: object

In [9]:
##from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
#from sklearn.metrics import accuracy_score

In [10]:
x=data['body'] 
y=data.ups.values

In [11]:
X_train,X_test,Y_train,Y_test = train_test_split(x,y, random_state=42, test_size=0.33, shuffle=True)

In [22]:
X_train.shape

(13400,)

In [23]:
X_test.shape

(6600,)

In [24]:
#tdidf=TfidfVectorizer(ngram_range=(1,1),stop_words='english')

In [25]:
#X_train_tdidf=tdidf.fit_transform(X_train)
#X_test_tdidf=tdidf.transform(X_test)

In [26]:
#from sklearn.ensemble import RandomForestClassifier

In [27]:
#randomforest =RandomForestClassifier(n_estimators=100,random_state=2)
#randomforest.fit(X_train_tdidf,Y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=2, verbose=0,
                       warm_start=False)

In [28]:
#pred1 = randomforest.predict(X_test_tdidf)

In [29]:
#from sklearn import metrics
#score = metrics.accuracy_score(Y_test, pred1)

In [30]:
#score

0.4546969696969697

In [31]:
#import pickle

In [32]:
#tdidf=TfidfVectorizer(ngram_range=(1,1),stop_words='english')

In [33]:
#with open(r'{}.pkl'.format('up_vect'),'wb') as f:
 #   pickle.dump(tdidf,f)

In [35]:
#with open(r'{}.pkl'.format('up_model'),'wb')as f:
 #   pickle.dump(randomforest,f)

In [12]:
 import tensorflow as tf

In [13]:
from tensorflow.keras.layers import Embedding
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.models import Sequential
from tensorflow.keras.preprocessing.text import one_hot
from tensorflow.keras.layers import LSTM
from tensorflow.keras.layers import Dense
from keras.preprocessing.text import Tokenizer

In [14]:
tokenizer = Tokenizer(num_words=5000)
tokenizer.fit_on_texts(X_train)

X_train = tokenizer.texts_to_sequences(X_train)
X_test = tokenizer.texts_to_sequences(X_test)

vocab_size = len(tokenizer.word_index) + 1

maxlen = 100

X_train = pad_sequences(X_train, padding='post', maxlen=maxlen)
X_test = pad_sequences(X_test, padding='post', maxlen=maxlen)

In [15]:

embedding_vector_features=40
model=Sequential()
model.add(Embedding(vocab_size,embedding_vector_features,input_length= maxlen))
model.add(LSTM(100))
model.add(Dense(1,activation='sigmoid'))
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])
print(model.summary())

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 100, 40)           1077240
_________________________________________________________________
lstm (LSTM)                  (None, 100)               56400
_________________________________________________________________
dense (Dense)                (None, 1)                 101
=================================================================
Total params: 1,133,741
Trainable params: 1,133,741
Non-trainable params: 0
_________________________________________________________________
None

In [16]:
model.fit(X_train,Y_train,validation_data=(X_test,Y_test),epochs=5,batch_size=64)

Epoch 1/5
210/210 [==============================] - 39s 186ms/step - loss: -36.3854 - accuracy: 0.4851 - val_loss: -70.7203 - val_accuracy: 0.4861
Epoch 2/5
210/210 [==============================] - 46s 220ms/step - loss: -76.1205 - accuracy: 0.4851 - val_loss: -114.6114 - val_accuracy: 0.4861
Epoch 3/5
210/210 [==============================] - 39s 186ms/step - loss: -112.5118 - accuracy: 0.4851 - val_loss: -158.7708 - val_accuracy: 0.4861
Epoch 4/5
210/210 [==============================] - 38s 179ms/step - loss: -148.6968 - accuracy: 0.4851 - val_loss: -202.1026 - val_accuracy: 0.4861
Epoch 5/5
210/210 [==============================] - 40s 190ms/step - loss: -183.8577 - accuracy: 0.4851 - val_loss: -244.8077 - val_accuracy: 0.4861

In [17]:
score = model.evaluate(X_test, Y_test, verbose=1)
print("Test Score:", score[0])
print("Test Accuracy:", score[1])

207/207 [==============================] - 6s 27ms/step - loss: -244.8077 - accuracy: 0.4861
Test Score: -244.80770874023438
Test Accuracy: 0.48606061935424805

In [18]:
from tensorflow import keras
model.save('save_model.h5')